# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
agent.md
wiki.md
DESIGN_DOC.md

# Rider
.idea/

# NuGet
*.nupkg
packages/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
